h1 {
    font-size: 80px;
    font-family: Impact;
    margin-block: 53.6px;
}

p {
    font-size: 35px;
    margin-block: 35px;
}




button {
    font-size: 13px;
    padding: 1px 6px;
    border: 2px solid black;
    width: 250px;
    height: 80px;
    background-color: blue;    
    color: white;

}

button:hover {
    background-color: green;
}

#demo {
    font-size: 35px;
    margin-block: 35px;
    
} 